<!DOCTYPE html>
<html>
    <head>
   <title>To do list</title>
   <link rel="stylesheet" href="/css/todo.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    </head>
    <body>
  <nav class="nav-bar">
    <div class="nav-bar-div1">
        <div class="logo-div">
            <img src="img/L2-1.png" class="logo">
        </div>
        <div class="nav-bar-list">
            <li class="nav-item nav-item--fit" id="fitt">Fitness<i class="fa-solid fa-chevron-down fa-beat-fade"
                    id="downarrow"></i></li>
            <a >
                <li class="nav-item nav-item--ac">Addiction Controler</li>
            </a>
            <a href="#stopwatch-section">
                <li class="nav-item nav-item--sw">Stop watch</li>
            </a>
            <a>
                <li class="nav-item nav-item--todo">To Do List</li>
            </a>
            <a>
                <li class="nav-item nav-item--journal">Journal</li>
            </a>
            <li class="nav-item nav-item--ebook" id="boook">E-Books<i class="fa-solid fa-chevron-down fa-beat-fade"
                    id="downarrow"></i>
                <a>
            <li class="nav-item nav-item--music">Music</li></a>
            <a>
                <li class="nav-item nav-item--tips">Tips</li>
            </a>
        </div>
    </div>
    <!-- <div class="nav-bar-div2">
        <div class="fitness-div">
            <div class="optn-btn">
                <li class="wo-option option"><a>Workout</a></li>
            </div>
            <div class="optn-btn">
                <li class="yoga-option option"><a>Yoga</a></li>
            </div>
        </div>
        <div class="book-div">
            <div class="optn-btn">
                <li class="devo-option option"><a>Devotional</a></li>
            </div>
            <div class="optn-btn">
                <li class="sd-option option"><a>Development</a> </li>
            </div>
        </div>
    </div> -->
</nav>
<div class="logohead">
  <p class ="head">To-Do List</p>
  <img src="img/todologo.jpg" class="listlogo">
</div>

<div class="box-day" id="heading">
  <h1 class="mainhead"> <%= kindofday %>! </h1>
</div>
  <div class="box">
    <% for (var i=0;i<item.length; i++){ %>
      <div class="item">
        <input type="checkbox">
        <p class="items"><%= item[i] %></p>
      </div>
         
    <% } %>
    <form method="post" action="/todolist" class="item">
      <input placeholder="Enter your today's Task" type="text" name="data" class="inputs" autocomplete="off">
      <button type="submit" class="btn">+</button>
    </form>
  </div>
  <div class="msg">
    <div class="msg-div">
      <p style="font-weight: 700;">Fun Fact:</p>
      <p class="msg-para">The tallest living man is 39-year-old Sultan Kosen, from Turkey, who is 8 feet, 2.8 inches</p>
    </div>
    <img class="todays" src="img/todays.png">
  </div> 

  <div class="riddle">
    <div class="riddle-div">
      <p style="font-weight: 700;"> Riddles:-</p>
      <p class="riddle-para">The tallest living man is 39-year-old Sultan Kosen, from Turkey, who is 8 feet, 2.8 inches <button class="ans">Result</button></p>
      
    </div>
    <img class="riddle-pic" src="img/riddles.jpg">
  </div>    
   <script src="js/pro.js"></script>
    </body>
</html>